<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% entry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product, class: "label" %>
    <%= form.text_field :product, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :style, class: "label" %>
    <%= form.text_field :style, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :material, class: "label" %>
    <%= form.text_field :material, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :item_code, class: "label" %>
    <%= form.text_field :item_code, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :stock, class: "label" %>
    <%= form.number_field :stock, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
